<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    
    <client>
      <endpoint address="http://integration.xtime.com/services/XtimeUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeUtility"
        contract="Xtime.ServiceSync.XtimeUtility" name="XtimeUtility" />
      <endpoint address="http://integration.xtime.com/services/DMSCommandExecution"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSCommandExecution"
        contract="Xtime.ServiceSync.DMSCommandExecution" name="DMSCommandExecution" />
      <endpoint address="http://integration.xtime.com/services/DMSRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSRequest"
        contract="Xtime.ServiceSync.DMSRequest" name="DMSRequest" />
      <endpoint address="http://integration.xtime.com/services/XtimeRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeRequest"
        contract="Xtime.ServiceSync.XtimeRequest" name="XtimeRequest" />
      <endpoint address="http://integration.xtime.com/services/DMSNotification"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSNotification"
        contract="Xtime.ServiceSync.DMSNotification" name="DMSNotification" />
      <endpoint address="http://integration.xtime.com/services/DMSUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSUtility"
        contract="Xtime.ServiceSync.DMSUtility" name="DMSUtility" />
      <endpoint address="http://integration.xtime.com/services/XtimeUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeUtility1"
        contract="Xtime.ServiceSync.XtimeUtility" name="XtimeUtility1" />
      <endpoint address="http://integration.xtime.com/services/DMSCommandExecution"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSCommandExecution1"
        contract="Xtime.ServiceSync.DMSCommandExecution" name="DMSCommandExecution1" />
      <endpoint address="http://integration.xtime.com/services/DMSRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSRequest1"
        contract="Xtime.ServiceSync.DMSRequest" name="DMSRequest1" />
      <endpoint address="http://integration.xtime.com/services/XtimeRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeRequest1"
        contract="Xtime.ServiceSync.XtimeRequest" name="XtimeRequest1" />
      <endpoint address="http://integration.xtime.com/services/DMSNotification"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSNotification1"
        contract="Xtime.ServiceSync.DMSNotification" name="DMSNotification1" />
      <endpoint address="http://integration.xtime.com/services/DMSUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSUtility1"
        contract="Xtime.ServiceSync.DMSUtility" name="DMSUtility1" />
    </client>
    <services>
      <service name="Xtime.ServiceSync.CustomWsdlService">
        <endpoint address="http://localhost:5555/static"
        behaviorConfiguration="WebEndpointBehavior" binding="webHttpBinding"
        contract="Xtime.ServiceSync.ICustomWsdl"
        bindingConfiguration="HttpBindingConfig">
        
        </endpoint>
       
      </service>
      <service behaviorConfiguration="HTTPSBehavior" name="Xtime.ServiceSync.XtimeRequestImplHttps">
        <endpoint address="https://localhost:6666/ServiceSync" binding="customBinding"
          bindingConfiguration="XtimeServiceSync_XtimeRequestWSSecurity" name="wcf"
          contract="Xtime.ServiceSync.XtimeRequest" />
      
      </service>

      <service behaviorConfiguration="HTTPBehavior" name="Xtime.ServiceSync.XtimeRequestImplHttp">
        <endpoint address="http://localhost:5555/ServiceSync" binding="customBinding"
            bindingConfiguration="XtimeServiceSync_XtimeRequest" name="wcf" contract="Xtime.ServiceSync.XtimeRequest" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
         <behavior name="HTTPBehavior" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
        <behavior name="HTTPSBehavior" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
                customUserNamePasswordValidatorType="Xtime.ServiceSync.CustomUserNameValidator, ConsoleServiceSyncWCF" />
          </serviceCredentials>
          </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WebEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <!--
        <endpointBehaviors>
          <behavior name="WebHttpBehavior" />
          <behavior name="DispatchByBodyElementBehaviorAttribute" />
        </endpointBehaviors>
        -->
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="XtimeServiceSync_XtimeUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSCommandExecution">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSRequest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_XtimeRequest">
          <transactionFlow />
         
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_XtimeRequestWSSecurity">
          <transactionFlow />
          <security authenticationMode="UserNameOverTransport"
                    messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <textMessageEncoding messageVersion="Soap12" />
          <httpsTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSNotification">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSRequest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeRequest">
          <transactionFlow />
          <security authenticationMode="UserNameOverTransport"
                    messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSNotification">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSCommandExecution">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_XtimeUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSCommandExecution1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSRequest1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_XtimeRequest1">
          <textMessageEncoding messageVersion="Soap12" />
          <security authenticationMode="UserNameOverTransport" allowInsecureTransport="true" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSNotification1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSRequest1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeRequest1">
          <textMessageEncoding messageVersion="Default" />
          <httpTransport />
        </binding>
        <binding name="DMSNotification1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSCommandExecution1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <webHttpBinding>
        <binding name="HttpBindingConfig" />
      </webHttpBinding>
    </bindings>

  </system.serviceModel>
</configuration>