<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint address="http://integration.xtime.com/services/XtimeUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeUtility"
        contract="Xtime.ServiceSync.XtimeUtility" name="XtimeUtility" />
      <endpoint address="http://integration.xtime.com/services/DMSCommandExecution"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSCommandExecution"
        contract="Xtime.ServiceSync.DMSCommandExecution" name="DMSCommandExecution" />
      <endpoint address="http://integration.xtime.com/services/DMSRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSRequest"
        contract="Xtime.ServiceSync.DMSRequest" name="DMSRequest" />
      <endpoint address="http://integration.xtime.com/services/XtimeRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeRequest"
        contract="Xtime.ServiceSync.XtimeRequest" name="XtimeRequest" />
      <endpoint address="http://integration.xtime.com/services/DMSNotification"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSNotification"
        contract="Xtime.ServiceSync.DMSNotification" name="DMSNotification" />
      <endpoint address="http://integration.xtime.com/services/DMSUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSUtility"
        contract="Xtime.ServiceSync.DMSUtility" name="DMSUtility" />
      <endpoint address="http://integration.xtime.com/services/XtimeUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeUtility1"
        contract="Xtime.ServiceSync.XtimeUtility" name="XtimeUtility1" />
      <endpoint address="http://integration.xtime.com/services/DMSCommandExecution"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSCommandExecution1"
        contract="Xtime.ServiceSync.DMSCommandExecution" name="DMSCommandExecution1" />
      <endpoint address="http://integration.xtime.com/services/DMSRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSRequest1"
        contract="Xtime.ServiceSync.DMSRequest" name="DMSRequest1" />
      <endpoint address="http://integration.xtime.com/services/XtimeRequest"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_XtimeRequest1"
        contract="Xtime.ServiceSync.XtimeRequest" name="XtimeRequest1" />
      <endpoint address="http://integration.xtime.com/services/DMSNotification"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSNotification1"
        contract="Xtime.ServiceSync.DMSNotification" name="DMSNotification1" />
      <endpoint address="http://integration.xtime.com/services/DMSUtility"
        binding="customBinding" bindingConfiguration="XtimeServiceSync_DMSUtility1"
        contract="Xtime.ServiceSync.DMSUtility" name="DMSUtility1" />
    </client>
    <services>
      <service behaviorConfiguration="MyServiceTypeBehaviors" name="Xtime.ServiceSync.XtimeRequestImpl">
        <endpoint address="http://localhost:5555/ServiceSync" binding="customBinding"
            bindingConfiguration="XtimeServiceSync_XtimeRequest" name="wcf" contract="Xtime.ServiceSync.XtimeRequest" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyServiceTypeBehaviors" >
          <!-- Add the following element to your service behavior configuration. -->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <!--
        <endpointBehaviors>
          <behavior name="WebHttpBehavior" />
          <behavior name="DispatchByBodyElementBehaviorAttribute" />
        </endpointBehaviors>
        -->
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" />
      </basicHttpBinding>
      <customBinding>
        <binding name="XtimeServiceSync_XtimeUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSCommandExecution">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSRequest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_XtimeRequest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSNotification">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSRequest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeRequest">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSNotification">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeUtility">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSCommandExecution">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_XtimeUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSCommandExecution1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSRequest1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_XtimeRequest1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSNotification1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeServiceSync_DMSUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSRequest1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeRequest1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSNotification1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="XtimeUtility1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="DMSCommandExecution1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>

  </system.serviceModel>
</configuration>